/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: azure;
}

.navBar {
  background-image: linear-gradient(to right, rgba(123, 255, 0, 0.459) , rgba(0, 183, 255, 0.753));
  display: flex;
  height: 100px;
  padding-right: 40px;
}

.title {
  font-size: 50px;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBarLinks {
  display: flex;
  gap: 30px;
  align-items: center;

}

.homePageTitle{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 20px;
  background-color: aquamarine;
  font-size: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
}

.menTitle, 
.womenTitle {
  padding: 20px;
  font-weight: bold;
  font-size: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.homeImages {
  padding: 30px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.homeImages > img {
  height: 600px;
  width: 500px;
}

.footer {
  padding-left: 20px;
  height: 40px;
  background-color: rgb(128, 91, 50);
  font-weight: bold;
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.shoppingItems {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.shoppingItems > div {
  
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
}
img {
  height: 200px;
  width: 200px;
}

.price {
  font-weight: bold;
}

.rating{
  color: rgb(104, 103, 103);
  font-size: medium;
}

.cartItems {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.singleItem {
  padding: 15px;
  background-color: aliceblue;
  display: flex;
}

.itemInfo {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttonAndSub{
  display: flex;
  flex-direction: column;
  align-items:flex-end;
}

.buttons {
  flex: 1 1 auto;
}

.subTotal {
  font-size: 25px;
}

.total {
  display: flex;
  justify-content: end;
  font-size: 30px;
  
}

.checkout {
  display: flex;
  justify-content: center;
  align-items: center;
}